/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.flex-between-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.flex-between-reverse {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
.flex-evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.flex-center-stretch {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  text-align: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.top-nav {
  background-color: #60afdd;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.menu-button #myLinks {
  display: none;
}
.menu-button .icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  background-color: #60afdd;
}
.menu-button a {
  color: #d6d8d3;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 auto;
  background-color: #60afdd;
  height: auto;
  border-radius: 1rem;
}
.menu-button a :hover {
  color: #d6d8d3;
}
.bottom-nav {
  background-color: #14213d;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-nav a {
  display: inline-block;
}
.bottom-nav .fa-do {
  font-size: 4rem;
  width: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body {
  margin: 0;
}
body main .container .tablet-h3 {
  display: none;
}
body main .horizontal-scroll {
  align-items: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
body main p {
  margin: 0 auto;
}
body main h2 {
  font-weight: bold;
}
body .welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body canvas {
  width: 100%;
  height: 100%;
}
body .top-row,
body .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .top-row ul,
body .bottom-row ul {
  padding: 4rem;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.carousel-inner img {
  margin: 0 auto;
}
.about-container {
  display: none;
}
main .dark-mode {
  background-color: black;
  color: white;
}
header {
  margin: 0 auto;
}
header #myCarousel {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  text-align: center;
}
header #myCarousel .carousel {
  width: fit-content;
}
header #myCarousel .carousel img {
  margin: 0 auto;
  width: 30rem;
}
header #myCarousel3 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
header #myCarousel3 img {
  margin: 0 auto;
}
body main {
  height: auto;
}
body main .unique {
  display: none;
  align-items: flex-end;
  padding: 2rem 1rem;
  width: auto;
  margin: 2px;
}
body main .unique div {
  padding: 2rem 0.2rem;
}
body main .unique div h2 {
  text-align: center;
  font-size: 2.4rem;
  padding: 1rem;
}
body main .unique div p {
  font-size: 1.2rem;
  text-align: center;
}
body main .video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .horizontal-scroll {
  display: none;
}
body main .horizontal-scroll img:hover {
  transform: scale(1.45);
}
body main #myCarousel1 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  text-align: center;
}
body main #myCarousel1 .carousel {
  width: fit-content;
}
body main #myCarousel1 .carousel img {
  margin: 0 auto;
  width: 30rem;
}
body main .horizontal-row {
  display: none;
}
body main .about-container {
  display: none;
}
.about-header,
.about-container {
  text-align: center;
}
.about-header p,
.about-container p {
  margin-bottom: 6rem;
}
#myCarousel1 {
  text-align: center;
  padding-bottom: 4rem;
}
.carousel-inner {
  margin: 0 auto;
}
.carousel-inner img {
  width: 12rem;
}
.about-container .headers {
  text-align: center;
}
* {
  font-family: "Raleway", sans-serif;
}
nav #myLinks:hover a:hover {
  position: sticky;
  position: relative;
  padding: 1rem;
  color: linear-gradient(to top, #14213d 20%, #60afdd 55%);
  font-size: 2.6em;
  font-weight: bolder;
  background: linear-gradient(to right, #14213D 20%, pink, #60AFDD 55%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 60%;
  background-position: 200%;
  transition: background-position 2s;
}
nav img:hover {
  -webkit-filter: brightness(0.6) contrast(3.4) hue-rotate(217deg) saturate(9.9);
  filter: brightness(0.6) contrast(3.4) hue-rotate(217deg) saturate(9.9);
}
header {
  margin: 0 auto;
}
header #myCarousel1 #myCarousel {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  text-align: center;
}
header #myCarousel1 #myCarousel .carousel {
  width: fit-content;
}
header #myCarousel1 #myCarousel .carousel img {
  margin: 0 auto;
  width: 30rem;
}
header #myCarousel1 #myCarousel h2,
header #myCarousel1 #myCarousel p {
  text-align: center;
}
body main {
  height: auto;
}
body main .unique {
  display: none;
  align-items: flex-end;
  padding: 2rem 1rem;
  width: auto;
  margin: 2px;
}
body main .unique div {
  padding: 2rem 0.2rem;
}
body main .unique div h2 {
  text-align: center;
  font-size: 2.4rem;
  padding: 1rem;
}
body main .unique div p {
  font-size: 1.2rem;
  text-align: center;
}
body main .video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .horizontal-scroll {
  display: none;
}
body main .horizontal-scroll img:hover {
  transform: scale(1.45);
}
@media (min-width: 768px) {
  body main #myCarousel {
    display: none;
  }
}
.page2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page2 .imgButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.page2 .imgButton img {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 2rem 0;
}
.page2 .imgButton p {
  text-align: center;
  width: 50%;
  display: hidden;
}
.page2 .about-me-bio2 {
  padding: 5rem 0;
  margin: 0 auto;
  width: 90vw;
}
.page2 .about-me-bio2 h2 {
  text-align: center;
  font-weight: bold;
}
@media (min-width: 768px) {
  .page2 .about-me-bio2 {
    width: 60vw;
  }
}
.button {
  box-shadow: inset 0rem 0.1rem 0rem 0rem #572723b7;
  background: linear-gradient(to bottom, #fc8d83 5%, violet 100%);
  background-color: #fc8d83;
  border-radius: 0.6rem;
  border: 0.1rem solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: snow;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.6rem 2.4rem;
  text-decoration: none;
  text-shadow: 0rem 0.1rem 0rem #b23e35;
  transition: 0.5s;
}
.button:hover {
  background: linear-gradient(to bottom, #70e70e 20%, #7418b104 100%);
  background-color: #23cec060;
  color: #361025;
}
.button:active {
  position: relative;
  top: 0.1rem;
}
.button2 {
  box-shadow: inset 0rem 0.1rem 0rem 0rem #572723b7;
  background: linear-gradient(to bottom, #854a45 5%, violet 100%);
  background-color: #a85f58;
  border-radius: 0.6rem;
  border: 0.1rem solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: snow;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.6rem 2.4rem;
  text-decoration: none;
  text-shadow: 0rem 0.1rem 0rem #b23e35;
  transition: 0.5s;
}
.button2:hover {
  background: linear-gradient(to top, #820dd1cb 10%, #7418b104 100%);
  background-color: #1e3f3c60;
  color: #50df0e;
}
.button2:active {
  position: relative;
  top: 0.1rem;
}
.button3 {
  box-shadow: unset black 2rem;
  background: linear-gradient(to left, #0b62e454 5%, #f7084448 100%);
  background-color: #fffcfb00;
  border-radius: 0.6rem;
  border: 0.1rem solid #0848be9f;
  display: inline-block;
  cursor: none;
  color: black;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.6rem 2.4rem;
  text-decoration: none;
  text-shadow: 0rem 0.1rem 0rem #063811;
  transition: 0.8s;
}
.button3:hover {
  background: linear-gradient(to right, #e2d4ebcb 10%, #9710f1fa 100%);
  background-color: #16f3e160;
  color: #c2eead;
  transition: 0.6s;
}
.button3:active {
  position: relative;
  top: 0.1rem;
}
.fa-do a:hover {
  background-color: #23cec000;
  color: #f16392;
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  height: 12px;
  overflow: auto;
  direction: ltr;
  display: block;
  position: relative;
  width: 12px;
}
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #f10dd365 5%, violet 100%);
  background-color: #a85f58;
  border-radius: 0.6rem;
  border: 0.1rem solid #26d8b4;
  display: inline-block;
  cursor: pointer;
  color: snow;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.6rem 2.4rem;
  text-decoration: none;
  text-shadow: 0rem 0.1rem 0rem #b23e35;
  transition: 0.5s;
}
::-webkit-scrollbar-track:hover {
  background: linear-gradient(to bottom, #2e0702 40%, #ac12e479 70%);
  border-radius: 0.2rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0dd8c0 5%, #e412e4 100%);
  background-color: #fc8d83;
  border-radius: 0.6rem;
  border: 0.1rem solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: snow;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.6rem 2.4rem;
  text-decoration: none;
  text-shadow: 0rem 0.1rem 0rem #b23e35;
  transition: 0.5s;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #f32206 40%, #e4c412 70%);
  border-radius: 0.2rem;
}
@media (min-width: 375px) {
  nav h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 425px) {
  nav h1 {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  nav h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 375px) {
  nav .top-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav .top-nav img {
    height: 8rem;
  }
}
@media (min-width: 425px) {
  nav .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (max-width: 768px) {
  nav .top-nav .search2 {
    display: none;
  }
}
@media (min-width: 768px) {
  nav .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 320px) {
  nav .menu-button #myLinks {
    position: absolute;
    font-size: 1.2rem;
  }
}
@media (max-width: 280px) {
  nav .menu-button #myLinks a {
    font-size: 1rem;
  }
}
@media (min-width: 375px) {
  nav .menu-button #myLinks a {
    font-size: 2rem;
  }
}
@media (min-width: 425px) {
  nav .menu-button #myLinks a {
    font-size: 2.4rem;
  }
}
@media (min-width: 768px) {
  nav .menu-button #myLinks a {
    font-size: 2.5rem;
  }
}
@media (min-width: 1440px) {
  nav .menu-button #myLinks a {
    font-size: 2.6rem;
  }
}
@media (min-width: 2560px) {
  nav .menu-button #myLinks a {
    font-size: 3.2rem;
  }
}
@media (min-width: 375px) {
  nav .menu-button a {
    font-size: 2.2rem;
  }
}
@media (min-width: 425px) {
  nav .menu-button a {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) {
  nav .menu-button a {
    font-size: 2.8rem;
  }
}
@media (min-width: 1440px) {
  nav .menu-button a {
    font-size: 3rem;
  }
}
@media (min-width: 2560px) {
  nav .menu-button a {
    font-size: 3.8rem;
  }
}
@media (min-width: 320px) {
  header div h2 {
    font-size: 2.8rem;
    display: block;
  }
  header div p {
    text-align: center;
    font-size: 1.6rem;
    display: block;
  }
}
@media (min-width: 768px) {
  header div {
    display: none;
    padding: 2rem 1rem;
  }
  header div h2 {
    font-size: 2.8rem;
    display: none;
  }
  header div p {
    text-align: center;
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  body main .welcome-header {
    display: none;
  }
}
@media (min-width: 768px) {
  body main .welcome-header {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 375px) {
  body main .unique div {
    padding: 2rem 1rem;
  }
  body main .unique div h2 {
    font-size: 2.8rem;
  }
  body main .unique div p {
    text-align: center;
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  body main .unique {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 768px) {
  body main .video {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 768px) {
  body main .container .mobile-h3 {
    display: none;
  }
  body main .container .tablet-h3 {
    display: block;
  }
}
@media (min-width: 768px) {
  body main .horizontal-scroll {
    margin: 0 auto;
    display: block;
    width: 100%;
  }
  body main .horizontal-scroll img {
    width: 10rem;
    height: auto;
  }
}
@media (min-width: 768px) {
  body main .about-container {
    display: block;
  }
  body main .about-container img {
    width: 22rem;
  }
  body main .about-container .top-row,
  body main .about-container .bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  body main .about-container .profiles {
    text-align: center;
    width: 30rem;
    margin: 5rem;
  }
}
@media (min-width: 1024px) {
  body main .about-container .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body main .about-container img {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  body main .about-container {
    margin: 0 auto;
  }
  body main .about-container img {
    width: 50%;
  }
  body main .about-container h2 {
    font-size: 3rem;
  }
  body main .about-container p {
    font-size: 2rem;
    width: 90%;
  }
}
@media (min-width: 2560px) {
  body main .about-container h2 {
    font-size: 6rem;
  }
  body main .about-container .lead-profile p {
    margin: 0 auto;
    width: 70%;
    font-size: 4rem;
  }
  body main .about-container .top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  body main .about-container .bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  body main .about-container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main .about-container .row .profiles {
    width: 80rem;
  }
  body main .about-container img {
    width: 40%;
  }
  body main .about-container p {
    font-weight: bolder;
    font-size: 3em;
  }
}
@media (min-width: 768px) {
  body main .vertical-scroll {
    display: unset;
  }
  body main .vertical-scroll .top-row,
  body main .vertical-scroll .bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  body main .vertical-scroll img {
    display: block;
    width: 12rem;
  }
}
@media (min-width: 1024px) {
  body main .vertical-scroll img {
    width: 15rem;
  }
}
@media (min-width: 1440px) {
  body main .vertical-scroll img {
    width: 28rem;
  }
}
@media (min-width: 2560px) {
  body main .vertical-scroll img {
    width: 50rem;
  }
}
@media (min-width: 768px) {
  body .horizontal-team-header {
    display: block;
  }
  body .about-container .lead-profile {
    display: block;
  }
}
@media (min-width: 1024px) {
  body main h2 {
    font-size: 1.8rem;
  }
  body .main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
